.home{
    transition: .5s;min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .container{
    margin-left: -20px;
        display: flex;
        align-items: center;
        transition: .5s;
        margin-bottom: -45px;
        &__img{
          cursor: pointer;
            padding: 30px;
            width: 200px;
            height: 150px;
            object-fit: cover;
            transition: .5s;
            border: none;
            border-radius: 20px 20px 50% 20px / 20px 20px 80% 20px;

            opacity: 0; /* Establecer la opacidad inicial en 0 */
            animation-name: fadeIn; /* Nombre de la animación */
            animation-duration: 0.5s; /* Duración de la animación en segundos */
            animation-timing-function: ease-in; /* Función de temporización de la animación */
            animation-fill-mode: forwards; /* Mantener el estado final de la animación */
            @keyframes fadeIn {
              0% {
                opacity: 0;
                transform: translateY(10px); /* Animación de desplazamiento hacia abajo */
              }
              100% {
                opacity: 1;
                transform: translateY(0); /* Animación de desplazamiento hacia arriba */
              }
            }
            &:hover {
                transform: scale(1.1);
              }
          }
        .details{
            display: flex;
            flex-direction: column;

            opacity: 0; /* Establecer la opacidad inicial en 0 */
            animation-name: fadeIn; /* Nombre de la animación */
            animation-duration: 0.5s; /* Duración de la animación en segundos */
            animation-timing-function: ease-in; /* Función de temporización de la animación */
            animation-fill-mode: forwards; /* Mantener el estado final de la animación */
            @keyframes fadeIn {
              0% {
                opacity: 0;
                transform: translateY(10px); /* Animación de desplazamiento hacia abajo */
              }
              100% {
                opacity: 1;
                transform: translateY(0); /* Animación de desplazamiento hacia arriba */
              }
            }
            &__name{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              &__worktime{
                font-size: 14px;
                margin-bottom: 5px;
                }
            &__start{
                color: var(--Main-color);
                .star.red {
                    color: var(--Gray-color);
                  }
                  
                  .star.yellow {
                    color: var(--Main-color);
                  }
            }
        }
    }
}