:root {
  --Main-color: #FFE031;
  --Dark-color: #414141;
  --Gray-color: #A7A7A7;
  --Bg-gradient: linear-gradient(180deg, #FFFEFA 0%, #FFE031 0%, #FFFEFA 0.01%, #FCFCFC 100%);
  ---Complementary-color: #F2F2F2;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
